body {
	height: 100%;
	margin: 0;
	font-family: Handjet;
	font-size: 35px;
	background-color: lightgray;

	display: flex;
	flex-direction: column;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	background-color: black;
	color: white;
	padding: 5px 15px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

main {
	background-color: rgba(86, 3, 252, 0.7);
	margin: 0 25%;
	padding: 25px;

	flex-grow: 1;
}

footer {
	background-color: black;
	color: white;
	font-size: 25px;
	padding: 25px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.coat-of-arms {
	width: 64px;
	image-rendering: pixelated;
}